<div class="container">
    <h1>New Order Line Restriction</h1>

    <%= render 'form', order_line_restriction: @order_line_restriction %>

    <%= link_to 'Back', order_line_restrictions_path, class: "btn btn-primary" %>
</div>
