<div class="container">
    <h1>New Dietary Restriction</h1>

    <%= render 'form', order_line_restriction: @order_line_restriction %>

    <%= link_to 'Back', :back , class: "btn btn-primary" %>
</div>
