<p id="notice"><%= notice %></p>

<p>
    <strong>Order status name:</strong>
    <%= @order_status.order_status_name %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'order_status', id: @order_status.id),Class:"btn btn-primary" %>
<%= link_to 'Back', :back,Class:"btn btn-primary" %>