<p id="notice"><%= notice %></p>

<p>
    <strong>Customer status name:</strong>
    <%= @customer_status.customer_status_name %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'customer_status', id: @customer_status.id),Class:"btn btn-primary" %>
<%= link_to 'Back', :back,Class:"btn btn-primary" %>