<p id="notice"><%= notice %></p>

<p>
  <strong>Customer status name:</strong>
  <%= @customer_status.customer_status_name %>
</p>

<%= link_to 'Edit', edit_customer_status_path(@customer_status) %> |
<%= link_to 'Back', customer_statuses_path %>
