<p id="notice"><%= notice %></p>

<p>
    <strong>Flavor name:</strong>
    <%= @cake_flavor.flavor_name %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'cake_flavor', id: @cake_flavor.id),Class:"btn btn-primary" %>
<%= link_to 'Back', :back,Class:"btn btn-primary" %>