<p id="notice"><%= notice %></p>

<p>
  <strong>Flavor name:</strong>
  <%= @cake_flavor.flavor_name %>
</p>

<%= link_to 'Edit', edit_cake_flavor_path(@cake_flavor) %> |
<%= link_to 'Back', cake_flavors_path %>
