%ul.nav.navbar-nav.navbar.root_links
    %li= link_to 'Home', main_app.root_path
    %li= link_to 'Orders', main_app.orders_path
    %li= link_to 'Reports', main_app.reports_path
    %li= link_to 'Admin Dashboard', rails_admin.dashboard_path