%ul.nav.navbar-nav.navbar.root_links
    %li= link_to 'Home', main_app.root_path
    %li= link_to 'Customers', rails_admin.index_path('customer')
    %li= link_to 'Dashboard', rails_admin.dashboard_path