<p id="notice"><%= notice %></p>

<p>
    <strong>Shape name:</strong>
    <%= @shape.shape_name %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'shape', id: @shape.id),Class:"btn btn-primary" %>
<%= link_to 'Back', :back,Class:"btn btn-primary" %>