<p id="notice"><%= notice %></p>

<p>
    <strong>Dietary restriction name:</strong>
    <%= @dietary_restriction.dietary_restriction_name %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'dietary_restriction', id: @dietary_restriction.id),Class:"btn btn-primary" %>
<%= link_to 'Back', :back,Class:"btn btn-primary" %>