<p id="notice"><%= notice %></p>

<p>
  <strong>Dietary restriction name:</strong>
  <%= @dietary_restriction.dietary_restriction_name %>
</p>

<%= link_to 'Edit', edit_dietary_restriction_path(@dietary_restriction) %> |
<%= link_to 'Back', dietary_restrictions_path %>
