<div class="container">
    <h1>Editing Customer</h1>

    <%= render 'form2', customer: @customer %>

<%= link_to 'Show', @customer,Class:"btn btn-primary"%> 
<%= link_to 'Back', customers_path,Class:"btn btn-primary" %>
