<p id="notice"><%= notice %></p>

<p>
  <strong>Frosting name:</strong>
  <%= @frosting_flavor.frosting_name %>
</p>

<%= link_to 'Edit', edit_frosting_flavor_path(@frosting_flavor) %> |
<%= link_to 'Back', frosting_flavors_path %>
