<p id="notice"><%= notice %></p>

<p>
  <strong>Employee type description:</strong>
  <%= @employee_type.employee_type_description %>
</p>

<%= link_to 'Edit', edit_employee_type_path(@employee_type) %> |
<%= link_to 'Back', employee_types_path %>
