/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.nav {
    width: 100%;
    overflow: auto;
  }
  
.navbar a:hover {
    color:palevioletred;
  }
  .img{
      align-items: center;  
    }
a:link {
    color:black;
    scrollbar-highlight-color: blue;
    background-color:transparent;
}

.img-fluid {
  max-height: 25vh;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

#carouselBorder {
  border: 5px double black;
  background-color: rgb(179, 114, 179);
  padding: 15px;
}

.carousel-indicators {
  filter: invert(1);
}
