<p id="notice"><%= notice %></p>

<p>
    <strong>Employee status name:</strong>
    <%= @employee_status.employee_status_name %>
</p>

<%= link_to 'Edit', rails_admin.edit_path(model_name: 'employee_status', id: @employee_status.id),Class:"btn btn-primary" %> 
<%= link_to 'Back', :back,Class:"btn btn-primary"%>