
<% @employees = Employee.where employee_type_id: '1' %>

<h1>Bakers</h1>
<table>
	<tr>
	<% @employees.each do | employee| %>
	<td><%= employee.employee_first_name + ' ' + employee.employee_last_name%></td>

	</tr>
		<% end %>
</table>
