<div class="text-center">
    <h1>Most Frequent Dietary Restrictions</h1>
</div>

<% @restrictions = OrderLineRestriction.group(:dietary_restriction_id).count  %>

<% @restrictionNames = [] %>

<% @restrictions.each do |r| %>
    <% temparr = []%>
    <% temparr.push(DietaryRestriction.where(:id => r[0]).take.dietary_restriction_name) %>
    <% temparr.push(r[1]) %>
    <% @restrictionNames.push(temparr) %>
<% end %>

<br>

<div class="container" >
    <%= column_chart @restrictionNames, id: "restrictionNames", height: "500px", library: { legend: {labels: { fontSize: 16 } } } %>
</div>

<br>
