<% @productName = Product.joins(:order_lines) %>




<%= column_chart @productName.group(:product_name).count %>



<h1>Product Orders</h1>
<table>
	<tr>
        <th>Product<th>
        <th>Orders<th>
	</tr>
	<tr>



</table>
