
<%= bar_chart OrderLine.group(:product_id).count %>



<% @dinguses = OrderLine.group(:product_id).count %>
<% @dkeys = @dinguses.keys %>


<h1>Product Orders</h1>
<table>
	<tr>
        <th>Product<th>
        <th>Orders<th>
	</tr>
	<tr>



</table>
